[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/sergiopatino/vim-config.git
	branch = sergio
[submodule ".config/tmuxh"]
	path = .config/tmuxh
	url = https://github.com/sergiopatino/tmux-config
